:root
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height:100vh;
}
.form-container
{
  padding:2rem;
  display: flex;
  height:100vh;
  min-width: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
.loading
{
  font-size: 1.5rem;
}
.options-container
{
  width:70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.question
{
  font-size: 1rem;
  font-weight: 900;
  text-align: center;
}
.option-btn {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 5px;
  width: 100%;
}

.option-btn:hover {
  background-color: #f0f0f0;
}

.option-btn.correct {
  background-color: #4CAF50 !important; 
  color: white;
  border-color: #4CAF50;
}

.option-btn.incorrect {
  background-color: #FF6347 !important; 
  color: white;
  border-color: #FF6347;
}

.next-btn, .restart-btn {
  margin-top: 15px;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.next-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

label{
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

input{
  padding: 0.75rem;
  border-radius: 0.5rem;
  width: 90%;
}

button
{
  background-color: #007BFF;
  padding: 0.75rem;
  outline: none;
  margin:2rem;
  color:white;
  cursor: pointer;
  border:none;
  border-radius: 0.5rem;
  width:70%;
  font-weight: 900;
  font-size: 1rem;
}
button:disabled
{
  cursor: not-allowed;
  opacity: 0.3;
}
h1
{
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 1rem;
  border-bottom: 3px solid black;
}
a{
  color: #007BFF;
  text-decoration: underline;
  font-weight: 800;
}
.answer-option
{
  padding:0.75rem;
}
